/* set space mono as default */
* {
    font-family: 'Space Mono', monospace;
    background-color: rgb(127, 120, 146);
	  color: rgb(200, 200, 255);
    text-align: center;
}

h1 {
  color: rgb(215, 215, 221);
  text-align: center;
}

h2 {
  color: bisque;
  font-size: 20px;
}
